<!-- begin post -->
{% if post.featured == true %}
<div class="card">
			<div class="card__content">
        {% if post.image %} <img  src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}"> {% endif %}
        <div>
					<center><h2 class="card-title h4">{{ post.title }}</h2></center>
					<p class="card-text text-muted">{{ post.excerpt | strip_html | truncatewords:40 }}</p>
					{% if post.link %}<center><p><a href="{{post.link}}" class="btn btn-dark text-white px-4 btn-lg">{{ post.link-text }}</a></p></center>{% endif %}
				</div>
</div>

{% else %}

<li class="cardy" id="card">
			<div class="card__content">
        {% if post.image %} <img  src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}"> {% endif %}
        <div>
					<center><h2 class="card-title h4">{{ post.title }}</h2></center>
					<p class="card-text text-muted">{{ post.excerpt | strip_html | truncatewords:40 }}</p>
					{% if post.link %}<center><p><a href="{{post.link}}" class="btn btn-dark text-white px-4 btn-lg">{{ post.link-text }}</a></p></center>{% endif %}
				</div>

		</li>
{% endif %}
<!-- end post -->
